/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Modo Claro */
  :root {
    --background: 0 0% 100%; /* Blanco */
    --foreground: 222.2 84% 4.9%; /* Casi negro */
    --card: 0 0% 100%; /* Blanco */
    --card-foreground: 222.2 84% 4.9%; /* Casi negro */
    --popover: 0 0% 100%; /* Blanco */
    --popover-foreground: 222.2 84% 4.9%; /* Casi negro */
    --primary: 220 25% 78%; /* Pastel Blue */
    --primary-foreground: 210 40% 98%; /* Blanco */
    --secondary: 344 100% 88%; /* Pastel Pink */
    --secondary-foreground: 210 40% 98%; /* Blanco */
    --muted: 0 0% 88%; /* Pastel Gray */
    --muted-foreground: 0 0% 25%; /* Gris Oscuro */
    --accent: 0 0% 88%; /* Pastel Gray */
    --accent-foreground: 210 40% 98%; /* Blanco */
    --destructive: 350 100% 80%; /* Light Pink */
    --destructive-foreground: 210 40% 98%; /* Blanco */
    --border: 210 25% 90%; /* Pastel Gray */
    --input: 210 25% 90%; /* Pastel Gray */
    --ring: 220 25% 78%; /* Pastel Blue */
    --radius: 0.75rem;
  }

  /* Modo Oscuro */
  .dark {
    --background: 222.2 84% 4.9%; /* Dark Blue */
    --foreground: 210 40% 98%; /* Blanco */
    --card: 222.2 84% 4.9%; /* Dark Blue */
    --card-foreground: 210 40% 98%; /* Blanco */
    --popover: 222.2 84% 4.9%; /* Dark Blue */
    --popover-foreground: 210 40% 98%; /* Blanco */
    --primary: 208 66% 67%; /* Baby Blue */
    --primary-foreground: 210 40% 98%; /* Blanco */
    --secondary: 350 100% 65%; /* Light Pink */
    --secondary-foreground: 210 40% 98%; /* Blanco */
    --muted: 0 0% 17%; /* Dark Gray */
    --muted-foreground: 0 0% 65%; /* Pale Green */
    --accent: 0 0% 17%; /* Dark Gray */
    --accent-foreground: 210 40% 98%; /* Blanco */
    --destructive: 330 100% 60%; /* Hot Pink */
    --destructive-foreground: 210 40% 98%; /* Blanco */
    --border: 0 0% 17%; /* Light Pink */
    --input: 0 0% 17%; /* Light Pink */
    --ring: 220 25% 78%; /* Pastel Blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-500;
  }
}
